#benefits{
	padding: 0px !important;

	.text{
		display: flex;
	    align-items: center;

		.wpb_column{

			.wpb_wrapper{

				h2{
					font-family: Poppins;
				    font-size: 38px;
				    color: #313971;
				    font-weight: 400;
				}
				ul{
				    list-style-type: none;
					font-family: Poppins;
				    font-size: 21px;
				    color: #393939;
				    font-weight: 400;
				    margin: 0;


					li{

						&:before{
							background-color: #313971;
							content: "";
							display: inline-block;
							margin-right: 10px;
							margin-bottom: 2px;
							height: 8px;
							width: 8px;
							border-radius: 2px;
						}
					}
				}
			}
		}
		.vc_column_container{

			.wpb_single_image{
				margin: 0px;

				.img{
					background-position: center;
				    background-repeat: no-repeat;
				    background-size: cover;
				    height: 380px;
		    		width: 350px;
				}
			}
		}
	}
}