#clients{

	.wpb_column{

		.wt_section_heading{
			margin-bottom: 0;

			h2{
				font-family: Poppins;
			    font-size: 38px;
			    color: #313971;
			    font-weight: 400;
			}
			h3{
				font-family: Poppins;
			    font-size: 17px;
			    color: #393939;
			    font-weight: 500;
			    padding-bottom: 60px;
			    margin-bottom: 0;
			}
		}		
		.column{
			padding: 0;

			.columnlogo{
				padding: 0;

				.logos{
					height: 100px;
				    background-size: 75%;
				    background-repeat: no-repeat;
				    background-position: center;
				    margin-bottom: 65px;
				    
					.img{
						opacity: 0;
					}
				}		
			}	
		}
	}	
}
