#faq{
	background-color: #ededed;
	padding-top: 95px !important;
	padding-bottom: 90px !important;

	.intro_text{

		.title{
			font-family: Poppins;
		    font-size: 38px;
		    color: #313971;
		    font-weight: 400;

		}
		.custom_title{
			font-family: Poppins;
		    font-size: 17px;
		    color: #393939;
		    font-weight: 500;
		    padding-bottom: 60px;
		}
	}
	.wt-row-container{
		
		.wpb_column{

			.wpb_wrapper{ 

				h4{
					font-family: Poppins;
				    font-size: 16px;
				    color: #393939;
				    font-weight: 800;
				    padding-bottom: 7px;
				}
				p{
					font-family: Poppins;
				    font-size: 15px;
				    color: #393939;
				    font-weight: 500;
				}
			}
		}
	}
}