#wt_footerWrapper{

	.clearfix{
		background-color: #262a41;

		.wt_footer_col{

			.widget{

				@media screen and (max-width: 980px){
					text-align: center;							
				}

				.mapa{
					font-family: Poppins;
				    font-size: 14px;
				    color: #ffffff;
				    font-weight: 600;

				    @media screen and (max-width: 980px){
						font-size: 18px;						
					}
				}
				.menu{					

					.menu-item{
						border: none;
						padding: 0px 0;

						

						a{
							font-family: Poppins;
						    font-size: 14px;
						    color: #ffffff;
						    font-weight: 300;	

						    @media screen and (max-width: 980px){
								font-size: 18px;						
							}				    
						}
					}
				}
			}
		}
		.wt_animate{

			.wt_social_networks_sc{

				.wt_icon_40{
					padding-right: 20px;

					.logos{
						
						
						a{
							background: transparent !important;
							.dashicons{
								font-size: 35px;
								color: #fff;								
							}
							.fa{
								font-size: 33px;
    							color: #fff;
							}
						}
					}
				}
			}

			.textwidget{

				.wt_copyright{
					font-family: Poppins;
				    font-size: 14px;
				    color: #ffffff;
				    font-weight: 400;
				}
			}
		}
		.mc4wp-form{		

			@media screen and (max-width: 980px){
				width: 100%;							
			}	   

			p{
				.form-control{
					background-color: #fff !important;
					border-color: #fff !important;
					border: 1px solid #ddd !important;
				}
				.mc4wp_submit{
					font-family: Poppins;
				    font-size: 12px;
				    color: #ffffff;
				    font-weight: 700;
				    background-color: #313971;
				    margin-top: 10px;
				    border: 1px solid #ddd !important;
				}
			}
		} 
		.widget{

			.wt_subscribe{
				font-family: Poppins;
			    font-size: 14px !important;
			    color: #ffffff;
			    font-weight: 400;
			    text-align: right;

			    @media screen and (max-width: 980px){
					text-align: center;							
				}
			}
		}
	}
}

/* Footer Black Section */


#black{

	.titulo{
		text-align: center;
		padding: 15px;

		span{
			font-family: Poppins;
		    font-size: 17px;
		    color: #7f7f7f;
		    font-weight: 400;	    
		}
		a{
			font-family: Poppins;
			font-size: 17px;
			color: #cc2228;
			font-weight: 400;	
		}
	}
}