#pricing{

	
		
	.wt_section_heading{
		padding: 0 30px;

		h2{
			font-family: Poppins;
		    font-size: 38px;
		    color: #313971;
		    font-weight: 400;
		}
		h3{
			font-family: Poppins;
		    font-size: 17px;
		    color: #393939;
		    font-weight: 500;
		    padding-bottom: 57px;
		}
		.botao{ 
			border: 1px solid #d5d5d5;
		    padding: 33px;
		    border-radius: 6px;
		    padding-bottom: 21px;
		    margin-bottom: 13px;

			h4{ 
				font-family: Poppins;
			    font-size: 17px;
			    color: #393939;
			    font-weight: 500;

			    @media screen and (max-width: 980px){
					margin: 5px;							
				}
				.btn{
					font-family: Poppins;
				    font-size: 18px;
				    background-color: #bc640e;
				    font-weight: 700;
				    margin-right: 20px;

				    @media screen and (max-width: 980px){
						margin-bottom: 15px;
						padding: 10px 50px;
						margin-right: 0;
					}	
				}
			}
		}
	}
	.vc_row{

		.wt_pricing_header{

			h3{
				font-family: Poppins;
			    font-size: 20px;
			    color: #393939;
			    font-weight: 500;
			}
			.wt_plan_price{

				h4{
					font-family: Poppins;
				    font-size: 40px;
				    color: #393939;
				    font-weight: 500;

				    i{
				    	font-family: Poppins;
					    font-size: 15px;
					    color: #393939;
					    font-weight: 500;
				    }					
				}
			}			
		}
		.wt_pricing_content{

			h3{
		    	font-family: Poppins;
			    font-size: 30px;
			    color: #363636;
			    font-weight: 500;
		    }
			ul{

				li{
					font-family: Poppins;
				    font-size: 15px;
				    color: #393939;
				    font-weight: 500;
				}							
			}
		}
		.wt_pricing_btn{


			.btn{
				font-family: Poppins;
			    font-size: 15px;
			    color: #fff;
			    font-weight: 500;
			    background-color: #bc640e;
			    border-radius: 3px;			    
			}
		}
	}
	.wpb_wrapper{

		#enviar{
			max-width: 100%;

			.cont{
				background-color: #f2f2f2;
				padding: 0px;
				margin: 0 13px;


				.titulo{
					padding-top: 40px;

					h2{
						font-family: Poppins;
					    font-size: 26px;
					    color: #393939;
					    font-weight: 500;
					}
				}		
				.campo{
					padding-bottom: 45px;

					.form{
						padding-top: 10px;

						@media screen and (max-width: 980px){
							width: 100%;	
							margin-bottom: 3px !important;
						}
						.form-control{
							border-radius: 0px;

							@media screen and (max-width: 980px){
							margin-bottom: 3px !important;
						}

						}
					}
					.form-enviar{
						padding-top: 10px;

						@media screen and (max-width: 980px){
							width: 100%;	
						}
						.btn{
							width: 100%;
							font-family: Poppins;
						    font-size: 18px;
						    background-color: #bc640e;
						    font-weight: 700;

						    @media screen and (max-width: 980px){
								padding: 12px 107px;				
							}
						}
					}
				}
			}
		}
	}
}